{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 15,
    "logs": {
        "text": "infectionlog.txt"
    },
    "testFramework":"phpunit",
    "bootstrap":"./vendor/autoload.php"
}