includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	fileExtensions:
		# Standard php files and .dist config files
		- php
		- dist
	reportUnmatchedIgnoredErrors: true
	# ignore external code to keep sync easy
	excludes_analyse:
		- src/Http/Request.php
		- src/Http/Response.php
		- src/Http/Uri.php
		- src/Http/Stream.php