includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	fileExtensions:
		# Standard php files and .dist config files
		- php
		- dist
	reportUnmatchedIgnoredErrors: true
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#Only booleans are allowed in &&, string\|null given on the right side#'
